*,
.btn,
.btn.large {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3.5vh;
    color: #3d405b;
}

body {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    background-color: #81b29a;
}

.container,
.display,
.btn,
.btn.large {
    border-radius: 16px;
    filter: drop-shadow(5px 5px 0 #3d405b);
}

.display,
.btn,
.btn.large {
    height: 90px;
}

.btn,
.btn.large {
    background-color: #f2cc8f;
}

.container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 600px;
    justify-content: space-evenly;
    padding: 2vw;
    gap: 10px;
    background-color: #e07a5f;
}

.display {
    display: flex;
    justify-content: end;
    align-items: center;
    border: none;
    padding-right: .5em;
    background-color: #f4f1de;
}

.btnContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.btn.large {
    flex-basis: calc(50% - 5px);
}

.btn {
    flex-basis: calc(25% - 7.5px);
    border: none;
}