body {
    display: flex;
    margin: 0;
    justify-content: center;
}

.container {
    display: flex;
    width: 400px;
    height: 600px;
    flex-wrap: wrap;
    border: 2px solid black;
    justify-content: space-evenly;
}

.display {
    height: 90px;
    border: 2px solid black;
}

.btn.large {
    width: 200px;
}

.btn {
    width: 90px;
    height: 90px;
}